In [4]:
import pandas as pd
pd.read_csv(r'C:\Users\sarik\OneDrive\Desktop\hdfc data.csv')

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,HDFC,EQ,27-Oct-22,2356.70,2394.00,2404.30,2363.00,2386.00,2383.30,2381.64,3857960,9188286701,132802,2832448,73.42
1,HDFC,W3,27-Oct-22,349.75,365.65,368.00,356.00,360.00,360.00,362.15,7200,2607510,12,4800,66.67
2,HDFC,EQ,28-Oct-22,2383.30,2383.70,2420.25,2379.30,2400.00,2400.45,2402.10,3234497,7769575583,140217,1769214,76.51
3,HDFC,W3,28-Oct-22,360.00,365.00,386.90,360.00,365.00,365.40,374.28,87000,32562090,121,58200,72.93
4,HDFC,EQ,31-Oct-22,2400.45,2418.00,2475.00,2412.55,2470.00,2469.80,2448.63,3168194,7757742487,173863,2087531,65.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,HDFC,W3,19-Jan-23,604.25,602.00,615.00,602.00,607.00,607.00,609.33,19200,11699160,28,10200,53.13
120,HDFC,EQ,20-Jan-23,2691.70,2692.00,2732.00,2691.05,2710.50,2715.95,2719.50,1910649,5196010106,109634,1320005,69.09
121,HDFC,W3,20-Jan-23,607.00,615.00,627.00,611.00,622.00,615.95,621.50,138000,85766340,199,100200,72.61
122,HDFC,EQ,23-Jan-23,2715.95,2725.00,2750.85,2715.95,2739.95,2741.90,2741.61,1868514,5122745505,61425,1330121,71.19
123,HDFC,W3,23-Jan-23,615.95,639.00,644.00,630.00,630.00,631.80,634.54,102000,64723380,158,79800,78.24

In [5]:
#import necessary liberies
import numpy as np
from sklearn.preprocessing import standardScaler
from sklearn.linear_model  import linearRegression
from sklearn.model_selection import train_test_split
#import statmodels as sm
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

ImportError: cannot import name 'standardScaler' from 'sklearn.preprocessing' (C:\Users\sarik\anaconda3\lib\site-packages\sklearn\preprocessing\__init__.py)